{% extends 'base.html' %}
  
{% block content %}

<h1>Weapons</h1>
{% for weapon in weapons %}
<div class="card">   
        <div class="card-content">
            <span class="card-title">{{ weapon.name }}</span>
            <p>Kind: {{ weapon.kind }}</p>
         </div>
         <div class="card-action">
            <a href="{% url 'weapons_update' weapon.id %}">Update</a>
            <a href="{% url 'weapons_delete' weapon.id %}">Delete</a>
        </div>    
</div>
{% endfor %}

{% endblock %}