{% extends 'base.html' %}
  
{% block content %}

<h1>Activities</h1>
{% for activity in activities %}
<div class="card">   
        <div class="card-content">
            <span class="card-title">{{ activity.name }}</span>
            <p>When: {{ activity.date }}</p>
            <p>What are we doing: {{ activity.figure }}</p>
         </div>
         <div class="card-action">
            <a href="{% url 'activity_update' activity.id %}">Update</a>
            <a href="{% url 'activity_delete' activity.id %}">Delete</a>
        </div>    
</div>
{% endfor %}

{% endblock %}