{% extends 'base.html' %}

{% block content %}

<h1>Figure Details</h1>



<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">{{ figure.name}}</h3>
                <h6>Type: {{figure.tyype}} </h6>
                <h6>Cost: {{hobby.cost}} </h6>
            </div>
            <div class="card-action">
                <a href="{% url 'figures_update' figure.id %}">Update</a>
                <a href="{% url 'figures_delete' figure.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <h3>{{ figure.name }}'s Activities</h3>
        {% if figure.active %}
        <form action="{% url 'activities_create' figure.id %}" method="post">
          {% csrf_token %}
          {{ activity_form.as_p }}
          <input type="submit" class="btn" value="Add Activity">
        </form>
        {% endif %}
        <br>
        {% if hobby.activity_set.all %}
        <table class="striped">
            <thead>
              <tr><th>Date</th><th>Activity</th></tr>
            </thead>
            <tbody>
              {% for activity in figure.activity_set.all %}
                <tr>
                  <td>{{activity.date}}</td>
                  <td>{{activity.name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
         {% else %}
        <h4>No Activities to show</h4>
        {% endif %}
    </div>  
  </div>  
</div>  
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{figure.name}}'s Weapons</h3>
    {% if figure.weapons.count %}
      {% for weapon in figure.wapons.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ weapon.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'disconnect_weapon' figure.id weapon.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div> 
      {% endfor %}

    {% else %}
        <h5>No Weapons </h5>
    {% endif %} 
{% endblock %}
